body {
  font-family: sans-serif;
  text-align: center;
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

h1 {
  margin-top: 50px;
  font-size: 30px;
}

img {
  margin-top: 20px;
  margin-bottom: 20px;
}
