body {
  font-family: sans-serif;
  text-align: center;
  background-color: rgba(0,212,255,1);
  height: 100vh;
}

.mainContent {
  display: flex;
  justify-content: center;
}

.homePg {
  flex-direction: column;
}

.mainTop {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainText {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.mainTop,
.mainText {
  padding: 20px;
}

.whoAmI {
  margin: auto;
  width: 778px;
  height: 500px;
}

.rtLogo {
  border-radius: 30%;
}

h1 {
  font-size: 30px;
}

.welcomeTitle {
  margin: 0;
}

img {
  margin-top: 20px;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

.soundCloud {
  display: flex;
  flex-direction: column;
}

.prezis,
#myVideos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}